@use "../../styles/colors";
@use "../../styles/fonts";

.user-table-container {
    margin: 2rem auto;
    max-width: 90%;
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
  
    .table {
      width: 100%;
      border-collapse: collapse;
      thead {
        background-color: colors.$primary-Color; 
        color: white;
        .table-row-header {
          th {
            padding: 15px;
            font-weight: bold;
            text-align: left;
            border-bottom: 2px solid #ddd;
          }
        }
      }
  
      tbody {
     
        .table-row-data  {
            height: 50px;

          &:nth-child(even) {
            background-color: #f2f2f2;
          }
          &:hover {
            background-color: #e9f5ff; 
          }
            td {
              border-bottom: 1px solid #ddd;
              color: colors.$text-Color; 
              padding: 10px;
            }
        }
      }
    }
  }
  