@use '../../styles/colors';
@use "../../styles/fonts";

.summary-card {
    box-shadow: rgba(0, 0, 0, 0.24)  0px 3px 8px;
    border-radius: 8px; 
    width:20%;
    padding: 5px;
    margin: 16px;
   
 
}
.card-content{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.summary-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
   
}

.summary-card-icon {
   color:colors.$primary-Color ; 
    padding: 5px;
    border:none; 
    
    

}
.summary-card-title {
    font-family: fonts.$secondary-font; 
    color:colors.$primary-Color ; 
    font-size: .8rem;
    text-align: center;
 
}
.summary-card-value {
    font-family: fonts.$text-font;
    color: colors.$primary-Color; 
    font-size: 1.6rem;
    padding: 10px;
}
