
@use "../../styles/colors";
.category-card-container{
    border: 1px solid #ddd;
    border-radius: .4rem;
    width: 250px;
    margin: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: colors.$bg-Color;
    color: colors.$primary-Color;

  }
  
  .category-card-header {
    display: flex;
    align-items: center;
    padding: 10px;
    text-transform: capitalize;
    .category-icon-container {
      border-radius:.25rem;
      margin-right: 10px;
      padding: 5px;
    }
    
   .category-name{
      font-size: 1.2rem;
      padding: 10px;
      width: 60%;
     
      
    }
  }

  
  .category-card-description{
    color: colors.$secondary-Color;
  }
  
  .category-card-quiz-count {
    color: colors.$primary-Color;
    margin-top: 16px;
    .category-card-quiz-count-no{
      color: colors.$secondary-Color;
      font-weight: bolder;
      font-size: 1.2rem;
    }
  }
  
  .category-card-add-quiz-link{
    text-decoration: none;
    width: 20%;

  
  }
  
  .category-card-add-quiz-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
  }
  
 