
$primary-Color: #04305a;
$secondary-Color: #2D9CDB;
$accent-Color: #6FCF97;
$bg-Color: #F4F5F7;
$text-Color: #333;
$warning-Color: #F2994A;

// primary color: For headers, navigation bars, and key elements like save buttons.

// Secondary Color :For secondary buttons, icons, and highlights (e.g., hover effects).

// Accent Color:  For status indicators (success messages, completed actions) and small UI elements.

// Background Color:For background, cards, and containers.

// Text Color: For primary text.

// Warning Color:For warnings, alerts, or pending statuses.