@use "../../styles/colors";
@use "../../styles/fonts";

.shared-form-container {
  min-height: 100vh;
  padding: 3%;
  color: colors.$primary-Color;
  // background-image: url("../../assets/images/shared-form-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.shared-form {
  background-color: colors.$bg-Color;
  font-family: fonts.$primary-font;
  width: 50%;
  min-height: 80vh;
  margin: 0 auto;
  padding: 15px;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-logo {
  width: 50%;
}

.form-logo img {
  border-radius: 50%;
  width: 30%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.input-container {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 100%;
  margin: 10px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.shared-inputs {
  width: 80%;
  padding: 10px;
  margin: 10px;
}

.shared-inputs input {
  width: 100%;
  padding: 20px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  font-size: 18px;
  color: colors.$primary-Color;
  background-color: transparent;
}

.shared-inputs input::placeholder {
  font-size: 14px;
}

.password-criteria {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;
  padding: 10px;

  div {
    margin: 2px 0;
  }
  .criteria-item {
    display: flex;
    align-items: center;
    margin: 2px 0;
  }
}
.navigation-msg-container {
  margin: 30px;
  padding: 10px;
  font-size: 14px;
}

.shared-link {
  text-decoration: none;
  color: colors.$secondary-Color;
}
