@use "../../styles/colors";
@use "../../styles/fonts";

// Home Container
.home-container {
  background-color: colors.$bg-Color;
  padding: 2% 5%;
  font-family: fonts.$background-font;
  display: flex;
  flex-direction: column;
  gap: 3%;

}

// Navbar Section
.navbar-container {
  width: 100%;
  margin-bottom: 40px;
  padding: 15px;
  background-color: colors.$primary-Color;
  color: colors.$bg-Color;

  .home-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &-list {
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      list-style: none;

      &-item {
        margin-left: 10px;

        &-link {
          text-decoration: none;
          padding: 10px 15px;
          color: colors.$bg-Color;
          font-family: fonts.$primary-font;
          transition: background-color 0.3s ease, color 0.3s ease;

          &:hover {
            border-bottom: 1px solid colors.$secondary-Color;
            color: colors.$secondary-Color;
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;

      .home-logo {
        margin-bottom: 10px;
      }

      &-list {
        display: none; // Hide the list on smaller screens
      }
    }
  }
}
// quiz management section
.dashboard-section {
  padding: 20px;
  background-color: white;
  border-radius: 0.5rem;
  flex: 1 1 200px;
  .dashboard-header {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: colors.$primary-Color;
    font-family: fonts.$secondary-font;
  }
  .dashboard-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    a {
      text-decoration: none;
    }
  }
}

// Home Hero Section
// Home Cards first Section
.home-cards-container {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .home-stats-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
// Recent Added Quizzez  Section
.last-added-quiz-container {
  margin: 50px 0;
  padding: 10px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 0.5rem;

  .last-added-quiz-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
  }
}

.quiz-page-link {
  text-decoration: none;
}

// Categories Section
.home-categories-container {
  margin-top: 10px;
  background-color: white;
  flex: 1 1 200px;
  padding: 10px;
  border-radius: 0.5rem;
  .category-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 16px;
  }
}

// Subtitles for Each Section (Shared Styles)
.home-cards-subtitle,
.last-added-quiz-subtitle,
.categories-subtitle,
.dashboard-title {
  font-family: fonts.$secondary-font;
  color: colors.$primary-Color;
  font-size: fonts.$heading-font-size;
  font-weight: 600;
  border-left: 5px solid colors.$accent-Color;
  padding-left: 10px;
  padding: 10px 15px;
  margin-bottom: 30px;
  width: auto;
  display: block;
}
