@use "../../styles/colors";
@use "../../styles/fonts";

.quiz-stats-section{
    background-color: white;
    padding: 15px;
    margin-top: 40px;
  
}

.quiz-stats-header{
    display: flex;
    justify-content: space-between;
}

.quiz-stats-title{
    color:colors.$primary-Color
}

.quiz-select-dropdown{
    width: 20%;
    height: 30px;
    color: colors.$primary-Color;
}

.quiz-stats-row{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
}
.quiz-stat-card{
    padding: 15px;
    width: 22%;
    display: flex;
    align-items: center;
    height: 100px;
    gap: 10px;
    .quiz-stat-card-icon{
        padding: 10px;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
     
    }
.quiz-stat-card-data{
    padding: 5px;
    color:colors.$primary-Color;
    .quiz-stat-card-title{
        font-size: .8rem;
        color: colors.$primary-Color;
    }
    .quiz-stat-card-value{
        font-family: fonts.$background-font;
        text-transform:uppercase;
        margin-top: 3px;
        font-size: 1.1rem;
        font-weight: bolder;

    }
}

}


