@use "../../../styles/colors";
@use "../../../styles/fonts";


.quiz-container {
    background-color: colors.$bg-Color;
    
    padding: 2% 5%;
    // font-family: fonts.$background-font;
    display: flex;
    flex-direction: column;
    gap: 3%;
    min-height: 100vh;

  }
  
  .quiz-header {
    background-color: colors.$primary-Color;
    
    color: colors.$bg-Color;
    font-family: fonts.$primary-font;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  
  .quiz-title {
    font-size: 1.5rem; 
    color:colors.$bg-Color;
   
  }

  .quiz-info{
    padding: 10px;
    border: 1px solid #ccc;
  }
  

  .quiz-description,
  .quiz-category,
  .quiz-status,
  .quiz-question,
  .quiz-date,
  .quiz-created-by {
    font-size: 1rem; 
    padding: 15px;
    text-transform: capitalize;
    color:colors.$secondary-Color;
    font-family: fonts.$background-font;
    strong{
      color:colors.$text-Color;
      font-family: fonts.$background-font;
      font-size: 1.1rem;
      
    }
  }
  
  .quiz-image {
    display: block;
    max-width: 90%;
    height: auto;
    margin:20px auto;
  }
  
  .questions-list {
    margin: 20px 0;
    border: 1px solid #ccc;
  
  }
  .quiz-button-container {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;


  }
  
.quiz-page-msg{
  padding: 15px;
  height: 200px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  a{
    text-decoration: none;
    color:colors.$secondary-Color;
    margin-left: 5px;
  }
}