@use "../src/styles/colors";
@use "../src/styles/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-logo {
  font-size: 1.8rem;
  font-family: fonts.$secondary-font;
  letter-spacing: 1px;
  font-weight: bold;
  color: colors.$secondary-Color;
  text-decoration: none;
}

